

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html {
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: rgba(248, 246, 246, 0.9);
    font-size: 190%;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: 100;
    line-height: 55px;
    font-style: italic;
    margin-top: -30px;
}

h2 {
    text-transform: uppercase;
    font-size: 250%;
}

.welcome p {
    margin-top: -15px;
    font-size: 120%;
    width: 30%;
    margin-left: 35%;
    line-height: 160%;
    font-weight: 600;
}

/* HEADER SECTION */

section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(images/asphalt-dark-dawn-531321.jpg);  
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #f8f8f8;
}

.icon {
    padding-top: 25px ;
    text-align: center;
}

.welcome {
    text-align: center;
    margin-top: 30px;
}

.follow {
    margin-top: 20px;
    border: 1px solid #fff; 
    width: 12%;
    text-align: center;
    margin-left: 44.5%;
    border-radius: 50%;
}

.icon-img {
    height: 110px;
    width: auto;
    background-color: transparent;
    border-radius: 50%;
    opacity: 0.7;
}

.paw {
    color: rgba(235, 232, 232, 0.753);
    font-size: 350%;
}

.follow p {
    text-transform: uppercase;
    color: #fff; 
    line-height: 110%;
    color: #f7b731;
    margin-right: -6px;
    margin-top: -8px;
}

.follow a {
    text-decoration: none;
}

.follow:hover .paw {
    color: #f7b731;
}

.follow:hover {
    border: 1px solid #f7b731;
}


